<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stride.android"
    >

  <uses-feature
      android:name="android.hardware.sensor.stepcounter"
      android:required="true"
      />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="com.android.vending.BILLING"/>

  <application
      android:name=".StrideApplication"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name=".ui.activity.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.activity.PaymentActivity"
        android:theme="@style/AppTheme.TransparentActivity"
        android:configChanges="keyboardHidden|orientation"
        />

    <service
        android:name=".service.SensorListener"/>

    <receiver android:name=".service.receiver.RebootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <receiver
        android:name=".service.receiver.ShutdownReceiver">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
        <action android:name="de.j4velin.ACTION_SHUTDOWN"/>
      </intent-filter>
    </receiver>

    <receiver
        android:name=".service.receiver.ChargingReceiver"
        android:enabled="false"
        >
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".service.receiver.WidgetBroadcastReceiver">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_provider"
          />
    </receiver>

      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2c6d8f1247312851d5ebd3b17696dcdd5bb016cf" />
    </application>

</manifest>
